

.detail {
    align-items: center;
    width:60%;
    margin: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.672);
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.382);
    cursor: default;
    transition: all 400ms ease;
    padding: 15px;
    text-align: center;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }
  

  