

.detail {
    align-items: center;
    width:60%;
    margin: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.672);
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.382);
    cursor: default;
    transition: all 400ms ease;
    padding: 15px;
    text-align: center;
    line-height: 1.5;
    color: rgb(255, 255, 255);
  }

  .boton {
    width: 130px;
    padding: 9px;
    border: none;
    background-color: rgb(255, 219, 17);
    border-radius: 4px;
  }
  
  .boton:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(246, 255, 0);
    transform: translateY(-10%);
  }
  
  
  .div textarea {
    font-family: inherit;
    resize: none;
    background-color: rgb(255, 219, 17);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .lis {
    margin: 40px;
    display: inline-flex;
    width: 60%;
    list-style-type: none;
  }
  
  .liss {
    margin: 30px;
    display: inline-flex;
    width: 90%;
    list-style-type: none;
  }
  
  .lisss {
    margin: 30px;
    display: inline-flex;
    width: 40%;
    list-style-type: none;
  }
  
  .input {
    color: black;
    margin: 30px;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 219, 17);
    border-radius: 4px;
  }
  

  
  .fecha {
    color: black;
    margin: 30px;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 219, 17);
    border-radius: 4px;
  }
  

  
  .selec {
    margin: 30px;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 219, 17);
    border-radius: 4px;
  }

  