.div {
  width: 18%;
  margin: 50px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.729);
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.481);
  cursor: default;
  transition: all 400ms ease;
  padding: 10px;
  text-align: center;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.539);

  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.div textarea {
  font-family: inherit;
  resize: none;
}
