body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 90vh;
  background-image: linear-gradient(rgba(5, 7, 12, 0.482), rgba(5, 7, 12, 0.75)),
    url("https://media.rawg.io/media/games/c68/c6842e7b1e4a8c5fdff79504b7284e49.jpg");
}

.landing{
  text-align: center;
}

.boton {
  width: 120px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 219, 17);
    border-radius: 4px;
}